<div class="panel panel-default" id="article-list">
  <div class="banner">
    <h3><%= @article.title %></h3>
  </div>
  <div class="panel-body article-list">
    <%= @article.body %>
  </div>
</div>
