<% if @articles.any? %>
  <% @articles.each do |article| %>
    <li>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
      <% end %>
      <% else %>
    <h1>No Pages are available.</h1>
  </li>
<% end %>


