<div class="sidebar-classification">
    <div class="classification-title">
      <h4>classification</h4>
    </div>
    <div class="classification-content">
        <%= render @clsifications %>
    </div>
</div>