<div id="classifications">
    <div id="classifications-title">
      <h4><%=t :classification %></h4>
    </div>
    <div id="classifications-list">
        <%= render @clsifications %>
    </div>
</div>
