<footer id="page-footer">
  <div class="container-fluid">
    <div class="col-sm-6 col-xs-12">
      <h2>About This Page</h2>

      <p>Make with <span class="glyphicon glyphicon-tint"></span> by
	<strong>Jundy</strong> and <strong>Lan</strong>.</p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <h2>About Me</h2>
      <a href="https://github.com/">
	<i class="fa fa-github fa-2x" aria="github"></i>
      </a>
      <a href="http://www.jianshu.com/">
	<i class="fa fa-book fa-2x" aria="jianshu"></i>
      </a>
      <a href="https://mp.weixin.qq.com/">
	<i class="fa fa-weixin fa-2x" aria="weixin"></i>
      </a>
      <a href="http://weibo.com/">
	<i class="fa fa-weibo fa-2x" aria="weibo"></i>
      </a>
    </div>
  </div>
</footer>
