<footer id="page-footer">
  <div class="link">
    <div class="link-block">
      <ul class="categories-list">
        <li><a href="">Ruby</a></li>
        <li><a href="">Mac</a></li>
        <li><a href="">生活</a></li>
      </ul>
      <div class="icon">
        <p>Link</p>
        <a href="https://github.com/">
          <i class="fa fa-github" aria="github"></i>
        </a>
        <a href="http://www.jianshu.com/">
          <i class="fa fa-book" aria="jianshu"></i>
        </a>
        <a href="https://mp.weixin.qq.com/">
          <i class="fa fa-weixin" aria="weixin"></i>
        </a>
        <a href="http://weibo.com/">
          <i class="fa fa-weibo" aria="weibo"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-block">
      <h2>MAPLE</h2>
      <p>Make with <span class="glyphicon glyphicon-tint"></span> by
        <strong>Jundy</strong> and <strong>Lan</strong>.</p>
    </div>
  </div>

</footer>
