<nav id="navbar">
  <img class="picture" src="https://avatars0.githubusercontent.com/u/10846369?v=3&s=400" />
  <ul class="select">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="#">Pictrue</a></li>
    <li><a href="#">Special</a></li>
  </ul>
</nav>
