<div id="banner">
  <nav id="navbar" class="navbar-normal">
    <!-- <img class="background" src= /> -->
    <a class="name" href="<%= root_path %>">Jundy</a>

    <ul class="select">
      <li><a href="<%= root_path %>">Home</a></li>
      <!-- <li><a href="#">Book</a></li> -->
      <!-- <li><a href="#">Pictrue</a></li> -->
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</div>
