<div style="text-align: justify">
  <ul class="tagcloud" style="background-color: white; padding: 20px;">
    <% if @tags.any? %>
    <% @tags.each do |tag| %>
      <li>
      <label class="label label-success">
          <a href="<%= tag_path(tag) %>"><%= tag.name %>
          <span class="badge"><%= tag.taggings_count %></span>
          </a>
      </label>
      </li>
    <br />
    <% end %>
    <% end %>
  </ul>
</div>
