#article {
    margin-left: -3px;
    min-height: 670px;
    margin-top: 30px;
}

.article-title {
  h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: monospace;
  }
}

.info-layout {
  h5 {
    display: inline-block;;
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 3px;
  }
  h5 + h5 {
      margin-left: 12px;
  }
}

.article-content {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 100;
}
