.article-title {
    margin-top: 5px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.article-info {
    padding-left: 30px;
    margin-top: 30px;
}

.article-created,
.article-classification,
.article-tag{
    display: inline;
    margin-left: 13px;
    font-family: Monospace;
    font-size: 15px;
    font-weight: border;

}

.article-tag label {
    margin-left: 3px;
}


.article-tag a{
    color: black;
}

.article-tag a:hover{
    text-decoration: none;
}


.article-content {
    font-family: Sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 20px;
}