.banner{
  background: white;
  box-shadow: 0px 3px 5px #E9E9E9;
  vertical-align: middle;
  h3{
  margin-top: 0px;
  padding: 12px 0px;
  text-align: center;
  }
}

.article-list h3 a{
  color: #CF4D35;
  text-decoration: none;
  &:hover{
  color: black;
  }
}

.pagination{
  display: block;
  text-align: center;
  a{
  color: #CF4D35;
  }
}

.special-list{
  .special-cube{
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  }
  a{
  font-size: 40px;
  color: #CF4d35;
  text-decoration: none;   
  &:hover{
    color: black;
    }
  }
} 

.article-content{
  padding: 30px 50px;
}

#article-list {
    min-height: 670px;
    margin-top: 30px;
}