$image-width: 100px;
$title-color: #CF4D35;
$main-color: #25CCFF;
// 先写在这里

body {
  background-color: #F9F9F9;
}

#articles-container {
  background: #FFFFFF;
}

#page-container {
  opacity: 0.88;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0px auto;
}


#articles {
    min-height: 670px;
    width: 70%;
    margin: 0 auto;
}

.banner-divider {
  width: 70%;
  border-top-color: $main-color;
  border-top-width: 3px;
  border-top-style: solid;
  margin: 10px auto;
}

#articles-banner {
  text-align: center;
  h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
    font-family: monospace;
  }
}

#articles-list {
  margin-top: 5%;
  ul {
    li {
      border-top: 1px solid #e7eaec;
      padding-bottom: 4px;
      padding-left: 70px;
      list-style: none;
      &:hover {
        background-color: darken(#FFFFFF, 3%);
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.article-title {
  font-size: 23px;
  font-weight: 200;
  a {
    color: #F7AD57;
  }
}

.article-info {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 3px;
  color: #2f4050;
}


div.pagination {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}

ul.pagination {
  li {
    a {
      color: $main-color;
      &:hover,
      &:active {
        color: darken($main-color, 10%);
      }
    }
    &.active {
      a {
        border-color: transparent;
        background-color: $main-color;
        &:hover {
          border-color: transparent;
          background-color: $main-color;
        }
      }
    }
  }
}



.picture {
  position: relative;
  display: inline-block;
  height: $image-width;
  width: $image-width;
  margin: $image-width / 5  auto;
  border-radius: $image-width;
  // border: 1px solid #EFEFEF;
  background: #fff;
}

.articles-categories {
  font-size: 15px;
  font-family: "黑体";
  li {
    padding: 14px 0px;
    display: inline-block;
    a {
      color: #000;
      &:hover,
      &:active {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
  li + li {
    padding-left: 30px;
  }
}
