$image-width: 100px;
$nav-min-height: 450px;
$text-color: #CF4D35;
$main-color: #25CCFF;

nav,
ul {
  padding: 0px;
}

.image-container {
  text-align: center;
}

li {
    margin: 0px;
    padding: 0px;
}

#navbar {
    position: relative;
    overflow: hidden;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    box-shadow: 1px 3px 19px -4px rgba(0, 0, 0, 0.8);
    height: $nav-min-height;
    .background {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        width: 100%;
        top: 0px;
        height: auto;
        left: 0px;
    }
}

// .picture {
//   position: relative;
//     display: inline-block;
//     height: $image-width;
//     width: $image-width;
//     margin: $image-width / 5  auto;
//     border-radius: $image-width;
//     background: #fff;
// }

.name {
  position: absolute;
  top: 0px;
  display: inline-block;
  left: 10%;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  font-weight: 700;
  background: $main-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 13px 6px;
  border-width: 1px;
  border-color: transparent;
  display: inline-block;
  &:visited,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: none;
    background: darken($main-color, 10%);
    color: #fff;
  }

}

.select {
  top: 0px;
  right: 10%;
  position: absolute;;
  font-size: 14px;
  display: inline-block;
  li {
    display: inline-block;
    list-style: none;
    a {
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
	    padding: 20px 10px 1px 10px;
      border-top-width: 6px;
      border-top-color: transparent;
      border-top-style: solid;
	    color: #FFF;
	    &:hover,
	    &:active{
        color: #FFFFFF;
        border-top-color: $main-color;
	    }
    }
  }
}

// .position-right {
//   position: absolute;
//   right: 0px;
//   display: inline-block;
// }
