#classifications {
  margin-top: 30px;
  text-align: right;
}

#classifications-title {
  h4 {
    font-size: 30px;
    font-weight: 200;
  }
  margin-bottom: 20%;
}

#classifications-list {
  h4 + h4 {
    margin-top: 10%;
  }
  h4 {
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 7px;
    border-bottom-style: groove;
    border-bottom-color: rgba(53, 182, 228, 0.5);
    border-width: medium;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
